<div class="container-fluid p-0">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <a class="navbar-brand" href="#"><img src="assets/images/dummy-logo.png" width="48px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex ml-auto align-item-center">
                    <li *ngIf="isLoggedIn">
                        <form class="form-inline my-0 pr-0">
                            <input class="form-control mr-sm- p-3 pr-6"
                                type="search" placeholder="Search" aria-label="Search">
                            <button class="btn px-0 py-2 my-2 my-sm-0 fa fa-search" type="submit">
                             </button>
                        </form>
                    </li>
                    <li class="p-2 fa fa-envelope-o" *ngIf="isLoggedIn"></li>
                    <li class="nav-item dropdown show">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                            data-toggle="dropdown">
                               {{userName}}
                        </a>
                        <div class="dropdown-menu"  *ngIf="isLoggedIn" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" (click)="onLogout()">Logout</a>
                            
                          </div>
                    </li>
                    <li class="" *ngIf="isLoggedIn"><span class="dot">
                            <img id="user" src="assets/images/user2.jpg" >
                        </span></li>
                </ul>
            </div>
        </nav>
    </header>
</div>