.title{
    color: black;
}

@media only screen and (max-width:426px){
    .col-md-4{
        
        padding-bottom: 10px !important;
        padding-top: 0px;
    }
}
/* @media only screen and (max-width:769px){
    img{
        margin-left: 33% !important;
    }
}
@media only screen and (min-width:1439px){
    img{
        margin-left: 40% !important;
    }
} */


.content{
    /* width: 85%; */
    height: 150px;
    color: white;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.308)

}
.content1{
    background-color: #FE6A3A;
}
.content2{
    background-color: #8F9AA0;
}
.content3{
    background-color: #01C48C;
}
.content4{
    background-color: #1BCDD9;
}
.content5{
    background-color: #A64EE2;
}
.content6{
    background-color: #FF355F;
}
img{
    margin-top: 12px;
    margin-left: 37%;
}