<div class="title ml-2 ">
    <h3 class="pb-3">Resources</h3>
    <p class="pb-2"> Our <b>Motto</b> is to ensure <span>" ensure a safe data journey at dummy "</span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text 
</div>
<div class="ml-2">
    <div class="row">
        <div class="col-md-4 ">
            <div class="content content1  d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/sync.png" alt="">
                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>

        </div>
        <div class="col-md-4 ">
            <div class="content content2 d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/documentsW.png" alt="">

                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content content3  d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/security.png" alt="">
                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-md-4 ">
            <div class="content content4  d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/book.png" alt="">
                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content content5 d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/privacy.png" alt="">
                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="content content6 d-flex flex-column justify-content-center align-items-center">
                <img class="m-0" src="assets/images/icons/flyer.png" alt="">
                <p class="text-center pt-3">Data Protection and Privacy Policy</p>
            </div>
        </div>
    </div>
</div>