<div class="page ml-3 ">
    <h3 class="pb-3">Introduction</h3>
    <div class="intro p-3 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has
        been the industry's standard
        <img class=" float-right" src="assets/images/content/objective2.jpg" alt="">
        dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsumraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsumraset sheets containing Lorem Ipsum passages, and more recently with
        desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum
        PageMaker including versions of Lorem Ipsum
    </div>
    <h3 class="pb-3 ">The value of data has never been greater</h3>
    <div class="intro p-3 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard
        <img class=" float-left" src="assets/images/content/objective3.jpg" alt="">
        dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsumraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsumraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum
        PageMaker including versions of Lorem Ipsum</div>
    <br>
</div>