<div class="row">
    <div class="ceo col-lg-3 mt-1">
        <img id="ceo" src="assets/images/manager.jpg" alt="">

    </div>
    <div class="col-lg-9">
        <h4 class=" mb-0 pt-3" id="title1">Don't waver in three:</h4>
        <br>
        <h2 id="title2">Cybersecurity, <span id="privacy">Privacy</span> and Ethics</h2>
        <br>
        <h4 id="eng">Eng. Lorem Ipsum</h4>
        <p id="gceo">title, Lorem </p>
    </div>

</div>
<div class="row">
    <div class="motto p-2 d-flex  justify-content-center">Our Motto is</div>
    <div class="safe-data p-2 d-flex  justify-content-center">Ensure a safe data journey at dummy</div>

</div>

<div class="row pt-2 pr-0">
    <div class="col-sm-1 pr-0">
        <div class="left-side "></div>
    </div>
    <div class="col-sm-8 pl-md-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries,but also the leap into electronic.
      
        
    </div>
    <div class="col-sm-3 qr text-center">
        <img src="assets/images/qr.png" alt="">
        <br>
    </div>
</div>
<div>
    <br>
    <h3>Our Objective</h3>
    <div class="row obj mr-1 pb-2 text-center">
        <div class="col-md-3 p-1">
            <img class="objective" src="assets/images/content/objective1.jpg" alt="">
        </div>
        <div class="col-md-3 p-1">
            <img class="objective" src="assets/images/content/objective2.jpg" alt="">
        </div>
        <div class="col-md-3 p-1">
            <img class="objective" src="assets/images/content/objective3.jpg" alt="">

        </div>
        <div class="col-md-3 p-1">
            <img class="objective" src="assets/images/content/objective4.jpg" alt="">

        </div>
    </div>
</div>