img#ceo {
    width: 93%;
    height: 100%;
}

.motto {
    height: 50px;
    background-color: #ff375c;
    color: #fff;
}

.safe-data {
    height: 50px;
    background-color: #51028e;
    color: #fff;
}

@media screen and (min-width:426px) {
    .motto {
        font-weight: 600;
        font-size: 18px;
        margin-left: 13px;
        width: 21%
    }
    .safe-data {
        font-weight: 600;
        font-size: 18px;
        width: 76%;
    }
}

@media screen and (max-width:426px) {
    .motto {
        width: 100% !important;
        margin-left: 8px !important;
    }
    .safe-data {
        width: 100% !important;
        margin-left: 8px !important
    }
    .left {
        display: none !important;
    }
    .objective {
        max-width: 90%;
    }
    .titles h2 {
        font-size: 25px !important;
        text-align: center;
    }
    .titles h4 {
        font-size: 20px !important;
        text-align: center;
    }
    .titles p {
        text-align: center;
    }
    img#ceo {
        width: 90% !important;
    }
    .ceo {
        margin-left: 10%;
    }
}

@media only screen and (max-width:769px) {
    img#ceo {
        width: 54%;
    }
    .left-side {
        height: 110px !important;
    }
    .titles h2 {
        font-size: 25px !important;
        padding-bottom: 2px !important;
    }
    .titles h4 { 
        font-size: 25px;
        padding-bottom: 10px !important;
        margin-bottom: 0px  ;
    }
}

h4#title1 {
    color: #51028e
}

h2#title2 {
    color: #000;
    font-weight: 500
}

span#privacy {
    color: #ff375c
}

h4#eng {
    color: #000;
    font-weight: 400
}

h3 {
    color: #000
}

p#gceo {
    color: #ff375c
}

.left-side {
    height: 85px;
    width: 10px!important;
    background-color: #51028e;
    margin-left: px
}

a {
    color: #ff375c
}

.qr img {
    width: 100px;
}

.obj {
    margin-left: .1px
}

.objective {
    background-color: #fff;
    height: 200px;
    width: 100%;
    box-shadow: #000;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .082)
}